page-outfits {

}
.fab[mini] {
    margin: 0px;
    width: 11px;
    height: 28px;
    line-height: 0px;
}

button[fab].fab-map {
  position: absolute;
 
  z-index: 100;
}
.pics{


    margin:auto;
    padding-left:20%;
    padding-top:20%;
    padding-right:20%;
    padding-bottom:20%;
}
.title
{
  text-align: center;
  font-size:22px;
  padding-bottom:0%;
  padding-top:5%;
  padding-left:20%;
  padding-right:20%;
  margin-bottom:0%;
}

.subtitle{
  
  text-align: center;
  padding-bottom:0%;
  padding-top:0%;
  padding-left:20%;
  padding-right:20%;
  margin-bottom:0%;
}