
.ion-ios-MYICON:before,
.ion-ios-MYICON-circle:before,
.ion-ios-MYICON-circle-outline:before,
.ion-ios-MYICON-outline:before,
.ion-md-MYICON:before,
.ion-md-MYICON-circle:before,
.ion-md-MYICON-circle-outline:before,
.ion-md-MYICON-outline:before {
  @extend .ion;
}

.ion-ios-MYICON:before,
.ion-ios-MYICON-outline:before,
.ion-md-MYICON:before,
.ion-md-MYICON-outline:before {
  content: url("https://firebasestorage.googleapis.com/v0/b/streetwear-3906e.appspot.com/o/closet.svg?alt=media&token=0882026e-51a8-48ee-a795-1dbf33399b01");



}

.ion-ios-CLOSETICON:before,
.ion-ios-CLOSETICON-circle:before,
.ion-ios-CLOSETICON-circle-outline:before,
.ion-ios-CLOSETICON-outline:before,
.ion-md-CLOSETICON:before,
.ion-md-CLOSETICON-circle:before,
.ion-md-CLOSETICON-circle-outline:before,
.ion-md-CLOSETICON-outline:before {
  @extend .ion;
}

.ion-ios-CLOSETICON:before,
.ion-ios-CLOSETICON-outline:before,
.ion-md-CLOSETICON:before,
.ion-md-CLOSETICON-outline:before {
  content: url("https://firebasestorage.googleapis.com/v0/b/streetwear-3906e.appspot.com/o/Icons%2Fhanger.svg?alt=media&token=acf7f853-8a8b-4858-9568-a6addcef65c2");



}
.firstcol{
  margin:0;

display:inline-block;
}
.secondcol{
margin:0;
height:100%;
display:inline-block;

}
.home {
margin:0;
margin-top:5%;

  #card-stack {
    width: 32%;
    height: 22.5%;
  //background: #FEFEFE;
 //   border: 10px solid #6EFEFE;
    margin: 0px auto 0;
    position: relative;
  }
  .firstcol{

 

top:0;
    margin: 0px;
  }
    .secondcol{
  
          margin: 0px;

top:0;

  }

  #card-stack ion-card {
    border-radius: 5px;
    position: absolute;
   
   //top: 20%;
    height: 90%;
    width:90%;
  

  }

  


}


.butts{
width:100%;
height:80%;
 background: transparent;
}
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    opacity: 0;
}