<ion-header>
  <ion-navbar>
    <ion-title ><p style="font-size:30px;"color="navcolor">Textile</p></ion-title>
 <ion-buttons left>
      <button ion-button icon-only (click)="goToOtherPage()" >
       <ion-icon name="appname-closet"></ion-icon>
      </button>
    </ion-buttons>
    
    <ion-buttons end>
       <button ion-button icon-only color="primary" (click)="goToFeed()">
      <ion-icon color = "navcolor" ios="ios-albums-outline" md="md-albums"></ion-icon>
      </button>
      <button ion-button icon-only color="primary" (click)="goToSaved()">
        <ion-icon color="navcolor" name="appname-hanger"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="home" padding>
    <span class="colfirst">

    <div  class ="firstcol"swing-stack #myswing1 [stackConfig]="stackConfig1" (throwoutleft)="voteUp1($event)" (throwoutright)="voteUp1($event)" id="card-stack"[style.zIndex]="-1000">
        <div [hidden]="!showCard1" style="position: relative; top:-6%; left:8%;">
    <ion-fab right top>
      <button [hidden]="!showDelete1" ion-fab mini class="fab-map" mini color="navcolor" (click)="removeCard1()">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-fab>
  </div>
    <ion-card [hidden]="!showCard1"  (press)="pressEvent($event)" #mycards1 swing-card *ngFor="let c of cards1; trackBy:trackByCards1 let t=index;"[style.zIndex]="-1*t" [style.marginTop]="t === 0 ? '0px':'0px'"(tap)="openModal1(cards1)">
                                        <button style= "width:100%; height:100%; top:-6.80%; right:2.85%;"[hidden]="!card1Activated"(click)="activateCard1()" color = "light"  ion-button icon-only><ion-icon color="navcolor" name="add"></ion-icon></button>

          <img class ="jewelrypics" [hidden]="!showPic1" *ngIf="c"[src]="c"id="image">
  
    </ion-card>
     </div>

   <div class ="firstcol"  swing-stack #myswing2 [stackConfig]="stackConfig2" (throwoutleft)="voteUp2()" (throwoutright)="voteUp2()" id="card-stack"[style.zIndex]="-1000">
         <div [hidden]="!showCard2" style="position: relative; top:-7%; left:8%;">

    <ion-fab right top>
      <button [hidden]="!showDelete2" ion-fab mini class="fab-map" mini color="navcolor" (click)="removeCard2()">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-fab>
  </div>
    <ion-card [hidden]="!showCard2"  #mycards2 swing-card (press)="pressEvent($event)" *ngFor="let p of cards2; trackBy:trackByCards2; let i=index;"[style.zIndex]="-1*i" [style.marginTop]="i === 0 ? '0px':'0px'"(tap)="openModal2(cards2)">
                                        <button style= "width:100%; height:100%; top:-6.80%; right:2.85%;"[hidden]="!card2Activated"(click)="activateCard2()" color = "light"  ion-button icon-only><ion-icon color="navcolor" name="add"></ion-icon></button>

          <img class ="pics" [hidden]= "!showPic2" *ngIf="p"[src]="p"id="image">
    </ion-card>
    
  </div>
   
     <div class ="firstcol"  swing-stack #myswing3 [stackConfig]="stackConfig3" (throwoutleft)="voteUp3()" (throwoutright)="voteUp3()" id="card-stack"[style.zIndex]="-1000">
         <div [hidden]="!showCard3" style="position: relative; top:-7%; left:8%;">

    <ion-fab right top>
      <button [hidden]="!showDelete3" ion-fab mini class="fab-map" mini color="navcolor" (click)="removeCard3()">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-fab>
  </div>
    <ion-card [hidden]="!showCard3"  #mycards3 swing-card (press)="pressEvent($event)" *ngFor="let p of cards3; trackBy:trackByCards3; let i=index;"[style.zIndex]="-1*i" [style.marginTop]="i === 0 ? '0px':'0px'"(tap)="openModal3(cards3)">
                                        <button style= "width:100%; height:100%; top:-6.80%; right:2.85%;"[hidden]="!card3Activated"(click)="activateCard3()" color = "light"  ion-button icon-only><ion-icon color="navcolor" name="add"></ion-icon></button>

          <img class ="pics" [hidden]= "!showPic3" *ngIf="p"[src]="p"id="image">
    </ion-card>
    
  </div>
      <div class ="firstcol"  swing-stack #myswing4 [stackConfig]="stackConfig4" (throwoutleft)="voteUp4()" (throwoutright)="voteUp4()" id="card-stack"[style.zIndex]="-1000">
         <div [hidden]="!showCard4" style="position: relative; top:-7%; left:8%;">

    <ion-fab right top>
      <button [hidden]="!showDelete4" ion-fab mini class="fab-map" mini color="navcolor" (click)="removeCard4()">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-fab>
  </div>
    <ion-card [hidden]="!showCard4"  #mycards4 swing-card (press)="pressEvent($event)" *ngFor="let p of cards4; trackBy:trackByCards4; let i=index;"[style.zIndex]="-1*i" [style.marginTop]="i === 0 ? '0px':'0px'"(tap)="openModal4(cards4)">
                                        <button style= "width:100%; height:100%; top:-6.80%; right:2.85%;"[hidden]="!card4Activated"(click)="activateCard4()" color = "light"  ion-button icon-only><ion-icon color="navcolor" name="add"></ion-icon></button>

          <img class ="pics" [hidden]= "!showPic4" *ngIf="p"[src]="p"id="image">
    </ion-card>
    
  </div>
      <div class ="firstcol"  swing-stack #myswing5 [stackConfig]="stackConfig4" (throwoutleft)="voteUp5()" (throwoutright)="voteUp5()" id="card-stack"[style.zIndex]="-1000">
         <div [hidden]="!showCard5" style="position: relative; top:-7%; left:8%;">

  </div>
    <ion-card [hidden]="!showCard5"  #mycards5 swing-card (press)="pressEvent($event)" *ngFor="let p of cards5; trackBy:trackByCards5; let i=index;"[style.zIndex]="-1*i" [style.marginTop]="i === 0 ? '0px':'0px'"(tap)="openModal5(cards5)">
    <button style= "width:100%; height:100%; top:-6.80%; right:2.85%;"[hidden]="!card5Activated"(click)="activateCard5()" color = "light"  ion-button icon-only><ion-icon color="navcolor" name="add"></ion-icon></button>

          <img class ="pics" [hidden]= "!showPic5" *ngIf="p"[src]="p"id="image">
    </ion-card>
    
  </div>
            <div class ="firstcol"  swing-stack #myswing6 [stackConfig]="stackConfig4" (throwoutleft)="voteUp6()" (throwoutright)="voteUp6()" id="card-stack"[style.zIndex]="-1000">
         <div [hidden]="!showCard6" style="position: relative; top:-7%; left:8%;">

    <ion-fab right top>
      <button [hidden]="!showDelete6" ion-fab mini class="fab-map" mini color="navcolor" (click)="removeCard6()">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-fab>
  </div>
    <ion-card [hidden]="!showCard6"  #mycards6 swing-card (press)="pressEvent($event)" *ngFor="let p of cards6; trackBy:trackByCards6; let i=index;"[style.zIndex]="-1*i" [style.marginTop]="i === 0 ? '0px':'0px'"(tap)="openModal6(cards6)">
        <button style= "width:100%; height:100%; top:-6.80%; right:2.85%;"[hidden]="!card6Activated"(click)="activateCard6()" color = "light"  ion-button icon-only><ion-icon color="navcolor" name="add"></ion-icon></button>

          <img class ="pics" [hidden]= "!showPic6" *ngIf="p"[src]="p"id="image">
    </ion-card>
    
  </div>
      <div class ="firstcol"  swing-stack #myswing7 [stackConfig]="stackConfig4" (throwoutleft)="voteUp7()" (throwoutright)="voteUp7()" id="card-stack"[style.zIndex]="-1000">
         <div [hidden]="!showCard7" style="position: relative; top:-7%; left:8%;">

    <ion-fab right top>
      <button [hidden]="!showDelete7" ion-fab mini class="fab-map" mini color="navcolor" (click)="removeCard7()">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-fab>
  </div>
    <ion-card [hidden]="!showCard7"  #mycards7 swing-card (press)="pressEvent($event)" *ngFor="let p of cards7; trackBy:trackByCards7; let i=index;"[style.zIndex]="-1*i" [style.marginTop]="i === 0 ? '0px':'0px'"(tap)="openModal7(cards7)">
              <button style= "width:100%; height:100%; top:-6.80%; right:2.85%;"[hidden]="!card7Activated"(click)="activateCard7()" color = "light"  ion-button icon-only><ion-icon color="navcolor" name="add"></ion-icon></button>

          <img class ="pics" [hidden]= "!showPic7" *ngIf="p"[src]="p"id="image">
    </ion-card>
    
  </div>
      <div class ="firstcol"  swing-stack #myswing8 [stackConfig]="stackConfig4" (throwoutleft)="voteUp8()" (throwoutright)="voteUp8()" id="card-stack"[style.zIndex]="-1000">
         <div [hidden]="!showCard8" style="position: relative; top:-7%; left:8%;">

  
  </div>
    <ion-card [hidden]="!showCard8"  #mycards8 swing-card (press)="pressEvent($event)" *ngFor="let p of cards8; trackBy:trackByCards8; let i=index;"[style.zIndex]="-1*i" [style.marginTop]="i === 0 ? '0px':'0px'"(tap)="openModal8(cards8)">
                                        <button style= "width:100%; height:100%; top:-6.80%; right:2.85%;"[hidden]="!card8Activated"(click)="activateCard8()" color = "light"  ion-button icon-only><ion-icon color="navcolor" name="add"></ion-icon></button>

          <img class ="pics" [hidden]= "!showPic8" *ngIf="p"[src]="p"id="image">
    </ion-card>
    
  </div>
      <div class ="firstcol"  swing-stack #myswing9 [stackConfig]="stackConfig4" (throwoutleft)="voteUp9()" (throwoutright)="voteUp9()" id="card-stack"[style.zIndex]="-1000">
         <div [hidden]="!showCard9" style="position: relative; top:-7%; left:8%;">

    <ion-fab right top>
      <button [hidden]="!showDelete9" ion-fab mini class="fab-map" mini color="navcolor" (click)="removeCard9()">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-fab>

  </div>

    <ion-card [hidden]="!showCard9"  #mycards9 swing-card (press)="pressEvent($event)" *ngFor="let p of cards9; trackBy:trackByCards9; let i=index;"[style.zIndex]="-1*i" [style.marginTop]="i === 0 ? '0px':'0px'"(tap)="openModal9(cards9)">
                                 <button style= "width:100%; height:100%; top:-6.80%; right:2.85%;"[hidden]="!card9Activated"(click)="activateCard9()" color = "light"  ion-button icon-only><ion-icon color="navcolor" name="add"></ion-icon></button>

          <img class ="jewelrypics" [hidden]= "!showPic9" *ngIf="p"[src]="p"id="image">
    </ion-card>
    
  </div>
    
      <div class ="firstcol"  swing-stack #myswing10 [stackConfig]="stackConfig4" (throwoutleft)="voteUp10()" (throwoutright)="voteUp10()" id="card-stack"[style.zIndex]="-1000">
         <div style="position: relative; top:-7%; left:8%;">

    <ion-fab right top>
      <button [hidden]="!showDelete10" ion-fab mini class="fab-map" mini color="navcolor" (click)="removeCard10()">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-fab>
  </div>
    <ion-card [hidden]="!showCard10"  #mycards10 swing-card (press)="pressEvent($event)" *ngFor="let p of cards10; trackBy:trackByCards10; let i=index;"[style.zIndex]="-1*i" [style.marginTop]="i === 0 ? '0px':'0px'"(tap)="openModal10(cards10)">
   <button style= "width:100%; height:100%; top:-6.80%; right:2.85%;"[hidden]="!card10Activated"(click)="activateCard10()" color = "light"  ion-button icon-only><ion-icon color="navcolor" name="add"></ion-icon></button>

          <img class ="pics" [hidden]= "!showPic10" *ngIf="p"[src]="p"id="image">
    </ion-card>
    
  </div>
      <div class ="firstcol"  swing-stack #myswing11 [stackConfig]="stackConfig4" (throwoutleft)="voteUp11()" (throwoutright)="voteUp11()" id="card-stack"[style.zIndex]="-1000">
         <div [hidden]="!showCard11" style="position: relative; top:-7%; left:8%;">

  </div>
    <ion-card [hidden]="!showCard11"  #mycards11 swing-card (press)="pressEvent($event)" *ngFor="let p of cards11; trackBy:trackByCards11; let i=index;"[style.zIndex]="-1*i" [style.marginTop]="i === 0 ? '0px':'0px'"(tap)="openModal11(cards11)">
    <button style= "width:100%; height:100%; top:-6.80%; right:2.85%;"[hidden]="!card11Activated"(click)="activateCard11()" color = "light"  ion-button icon-only><ion-icon color="navcolor" name="add"></ion-icon></button>

          <img class ="pics" [hidden]= "!showPic11" *ngIf="p"[src]="p"id="image">
    </ion-card>
    
  </div>
      <div class ="firstcol"  swing-stack #myswing12 [stackConfig]="stackConfig4" (throwoutleft)="voteUp12()" (throwoutright)="voteUp12()" id="card-stack"[style.zIndex]="-1000">
         <div [hidden]="!showCard12" style="position: relative; top:-7%; left:8%;">

    <ion-fab right top>
      <button [hidden] ="!showDelete12" ion-fab mini class="fab-map" mini color="navcolor" (click)="removeCard12()">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-fab>
  </div>
    <ion-card [hidden]="!showCard12"  #mycards12 swing-card (press)="pressEvent($event)" *ngFor="let p of cards12; trackBy:trackByCards12; let i=index;"[style.zIndex]="-1*i" [style.marginTop]="i === 0 ? '0px':'0px'"(tap)="openModal12(cards12)">
        <button style= "width:100%; height:100%; top:-6.80%; right:2.85%;"[hidden]="!card12Activated"(click)="activateCard12()" color = "light"  ion-button icon-only><ion-icon color="navcolor" name="add"></ion-icon></button>

          <img class ="pics" [hidden]= "!showPic12" *ngIf="p"[src]="p"id="image">
    </ion-card>
    
  </div>
    
     </span>
    


</ion-content>
<ion-footer >
  <ion-toolbar>
  
<button class="butts" color="bar" (click)="saveOutfit()" ion-button icon-only><ion-icon color="heart" name="heart"></ion-icon></button>

  </ion-toolbar>
</ion-footer>

  