

.text-on-bottom > .button-inner {
  flex-direction: column;
}
.cell-1 {
 // background-color: #C5DCFC;
}
.cell-2 {
  //background-color: #262B69;
}
.cell-3 {
  //background-color: #A0C5FA;
}
.cell-4 {
  //background-color: #B3D0FC;
}
.cell-5 {
 // background-color: #73A7F9;
}
.cell-6 {
 // background-color: #8CB9FA;
}

.grid-full ion-row {

  padding: 0;
  margin:0;
  flex-wrap: wrap;
  
}

.like{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.grid-full ion-col {
  text-align: center;
  margin-top:0px;

}
.colo
{
  height: 10% !important;
  margin: auto;
  text-align: center;
justify-content: center;
}
.pics
{
   

  max-height: 100% !important;
  max-width: 100% !important;
  height: auto !important;
  width: auto !important;
  margin-left: auto;
  margin-right: auto;
  margin-top:auto !important;
  margin-bottom:auto !important;
  align-items:center !important;



}

.text-on-bottom > .button-inner {
  flex-direction: column;
}
.jewelrypics
{
  position:absolute;
   
     display: block;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-height: 65%;
    max-width:65%;


}
.hatpics
{
  position:absolute;
   
     display: block;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: auto;
    max-width: 70%;


}
.tilepics {
 position:absolute;
   
     display: block;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-height: 70%;

}
.shoepics {

  position:absolute;
   
     display: block;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-height: 70%;
    max-width: 70%;



}
.neckpics {

  position:absolute;
   
     display: block;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-height: 75%;
    max-width:80%;


}
.shirtpics {
   
  
    margin: 0 auto;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-height: 70%;

}
.pantspics
{

  position:absolute;
   
     display: block;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-height: 75%;


}
.cell-1 {
 // background-color: #C5DCFC;
}
.cell-2 {
  //background-color: #262B69;
}
.cell-3 {
  //background-color: #A0C5FA;
}
.cell-4 {
  //background-color: #B3D0FC;
}
.cell-5 {
 // background-color: #73A7F9;
}
.cell-6 {
 // background-color: #8CB9FA;
}

