<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons>
		<button color="navcolor" ion-button navPop icon-only>
			<ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
		</button>
	</ion-buttons>

    <ion-title>
     <p style="font-size:22px;">Feed</p>
    </ion-title>

  </ion-navbar>
  <ion-segment [(ngModel)]="pet">
    <ion-segment-button value="public">
      public
    </ion-segment-button>
    <ion-segment-button value="private">
      following
    </ion-segment-button>
  </ion-segment>

</ion-header>
<ion-content>

<div [ngSwitch]="pet">
<div *ngSwitchCase="'public'">
        <ion-card *ngFor="let f of posts; let i = index" no-padding> 
  <ion-grid>
 <ion-row (tap)="goToListview(f)">
    <ion-col class="colo" width-33>
    <img class="pics" *ngIf="f.first"[src]="f.first">
    </ion-col>
    <ion-col class="colo" width-33>
      <img class="pics" *ngIf="f.second"[src]="f.second">
    </ion-col>
     <ion-col class="colo" width-33>
      <img class="pics" *ngIf="f.third"[src]="f.third">
    </ion-col>
  </ion-row>
 <ion-row (tap)="goToListview(f)">
    <ion-col class="colo" width-33>
      <img class="pics" *ngIf="f.fourth"[src]="f.fourth">
    </ion-col>
    <ion-col class="colo" width-33>
      <img class="pics" *ngIf="f.fifth"[src]="f.fifth">
    </ion-col>
     <ion-col class="colo" width-33>
       <img class="pics" *ngIf="f.sixth"[src]="f.sixth">
    </ion-col>
  </ion-row>
  <ion-row (tap)="goToListview(f)">
    <ion-col class="colo" width-33>
     <img class="pics" *ngIf="f.seventh"[src]="f.seventh">
    </ion-col>
    <ion-col class="colo" width-33>
      <img class="pics" *ngIf="f.eighth"[src]="f.eighth">
    </ion-col>
     <ion-col class="colo" width-33>
      <img class="pics" *ngIf="f.ninth"[src]="f.ninth">
    </ion-col>
  </ion-row>
   <ion-row (tap)="goToListview(f)">
    <ion-col class="colo" width-33>
     <img class="pics" *ngIf="f.tenth"[src]="f.tenth">
    </ion-col>
    <ion-col class="colo" width-33>
      <img class="pics" *ngIf="f.eleventh"[src]="f.eleventh">
    </ion-col>
     <ion-col class="colo" width-33>
      <img class="pics" *ngIf="f.twelth"[src]="f.twelth">
    </ion-col>
  </ion-row>
    <ion-row>
    <ion-col>
      <button (tap)="goToProfile(f.user)" ion-button small clear>
        <div style = "color:#222;">{{f.username}}</div>
      </button>
    </ion-col>
    <ion-col style ="padding-left:2em;">
        <button (tap)= "toggleLike(f,f.key,i)"ion-button icon-left clear small>
        <ion-icon  color="heart" [name]="f.buttonIcon"></ion-icon>
        <div style = "color:#222;"*ngIf="f.likeCount > 0" >{{f.likeCount}}</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
       {{f.time}}
      </ion-note>
    </ion-col>
  </ion-row>
</ion-grid>

    </ion-card>
</div>
<div *ngSwitchCase="'private'">
        <ion-card *ngFor="let f of followingPosts; let i = index" no-padding> 
  <ion-grid>
  <ion-row>
    <ion-col class="colo" width-33>
    <img class="pic" *ngIf="f.first"[src]="f.first">
    </ion-col>
    <ion-col class="colo" width-33>
      <img class="pic" *ngIf="f.second"[src]="f.second">
    </ion-col>
     <ion-col class="colo" width-33>
      <img class="pic"*ngIf="f.third"[src]="f.third">
    </ion-col>
  </ion-row>
 <ion-row>
    <ion-col class="colo" width-33>
      <img class="pic" *ngIf="f.fourth"[src]="f.fourth">
    </ion-col>
    <ion-col class="colo" width-33>
      <img class="pic" *ngIf="f.fifth"[src]="f.fifth">
    </ion-col>
     <ion-col class="colo" width-33>
       <img class="pic" *ngIf="f.sixth"[src]="f.sixth">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="colo" width-33>
     <img class="pic" *ngIf="f.seventh"[src]="f.seventh">
    </ion-col>
    <ion-col class="colo" width-33>
      <img class="pic" *ngIf="f.eighth"[src]="f.eighth">
    </ion-col>
     <ion-col class="colo" width-33>
      <img class="pic" *ngIf="f.ninth"[src]="f.ninth">
    </ion-col>
  </ion-row>
   <ion-row>
    <ion-col class="colo" width-33>
     <img class="pic" *ngIf="f.tenth"[src]="f.tenth">
    </ion-col>
    <ion-col class="colo" width-33>
      <img class="pic" *ngIf="f.eleventh"[src]="f.eleventh">
    </ion-col>
     <ion-col class="colo" width-33>
      <img class="pic"*ngIf="f.twelth"[src]="f.twelth">
    </ion-col>
  </ion-row>
    <ion-row>
    <ion-col>
      <button (tap)="goToProfile(f.user)" ion-button small clear>
        <div style = "color:#222;">{{f.username}}</div>
      </button>
    </ion-col>
    <ion-col style ="padding-left:2em;">
        <button (tap)= "toggleLike(f,f.key,i)"ion-button icon-left clear small>
        <ion-icon color="heart" name="heart"></ion-icon>
        <div style = "color:#222;"*ngIf="f.likeCount > 0" >{{f.likeCount}} Likes</div>
        <div style = "color:#222;" *ngIf="f.likeCount <= 0" >no Likes</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
       {{f.time}}
      </ion-note>
    </ion-col>
  </ion-row>
</ion-grid>

    </ion-card>
</div>
</div>

</ion-content>