<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons>
		<button color="navcolor" ion-button navPop icon-only>
			<ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
		</button>
	</ion-buttons>

    <ion-title>
     <p style="font-size:22px;">Settings</p>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

<ion-list>
  <ion-item>
    <ion-label fixed>Username</ion-label>
    <ion-input type="text" [(ngModel)]="usernameText" ></ion-input>
    <button item-right (tap) = "setDisplayname(usernameText)" >save</button>
  </ion-item>
  <ion-item [formGroup]="passwordForm">
    <ion-label fixed>Password</ion-label>
    <ion-input placeholder="•••••••"    #password formControlName="password" type="password" (change)="elementChanged(password)"[(ngModel)]="newPassword" [class.invalid]="!passwordForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    <button item-right (tap) = "changePassword(newPassword)">save</button>

  </ion-item>
   <ion-item class="error-message" *ngIf="!passwordForm.controls.password.valid  && (passwordChanged || submitAttempt)">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>
       <ion-item class="error-message" *ngIf="changedPass">
      <p>Changed password succsesfully</p>
    </ion-item>
       <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="gender" (ionChange)="changeSelect(gender)">
        <ion-option value="female">Female</ion-option>
        <ion-option value="male">Male</ion-option>
      </ion-select>
    </ion-item>
</ion-list>

</ion-content>