<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons>
		<button color="navcolor" ion-button navPop icon-only>
			<ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
		</button>
	</ion-buttons>

    <ion-title>
     <p style="font-size:22px;">Items</p>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>


<ion-list>
  <ion-item *ngFor="let f of items" style="padding-right:0px !important; margin-right:0px !important;" text-wrap >
    <ion-row class ="container">
    <ion-col class = "inside" width-25>
    <ion-thumbnail  style="padding-left:5%; display:flex !important;" item-start>
      <img class ="resize" *ngIf="f.pic"[src]="f.pic">
    </ion-thumbnail>
    </ion-col>
    <ion-col width-50 class="centerit">
    
    <h3>
{{f.name}}   
    </h3>
       

    </ion-col>

<ion-col width-10 no-padding>


     <button style = "margin-right:0; padding-right:0;"*ngIf="f.clickUrl" ion-button clear item-right icon-only (tap)="launch(f.clickUrl)" ><ion-icon ios="ios-pricetag-outline"></ion-icon></button>
    </ion-col>
        <ion-col width-10 no-padding>
    <button *ngIf="!f.has" ion-button clear item-right icon-only (tap)="addItem(f)" ><ion-icon name="add"></ion-icon></button>
    <button *ngIf="f.has" ion-button clear item-right icon-only (tap)="removeItem(f)" ><ion-icon name="checkmark"></ion-icon></button>
        </ion-col>
    </ion-row>
  </ion-item>
</ion-list>

</ion-content>