




.centerit{
    display: flex;
text-align:left;
padding-right:20%;
align-items: center; 
}


.resize{
    display: block;
  max-height: 4em !important;
  max-width: 4em !important;
  width: auto !important;
}