<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons>
		<button color="navcolor" ion-button navPop icon-only>
			<ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
		</button>
	</ion-buttons>

    <ion-title>
     <p style="font-size:22px;">Items</p>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>


<ion-list>
  <ion-item text-wrap *ngFor="let f of items">
    <ion-row>
    <ion-col>
    <ion-thumbnail style="padding-left:5%;" item-start>
      <img class ="resize" *ngIf="f.pic"[src]="f.pic">
    </ion-thumbnail>
    </ion-col>
    <ion-col class ="centerit">
    <h3>
{{f.name}}   
    </h3>
    </ion-col>
    </ion-row>
    <button *ngIf="!f.has" ion-button clear item-right icon-only (tap)="addItem(f)" ><ion-icon name="add"></ion-icon></button>
    <button *ngIf="f.has" ion-button clear item-right icon-only (tap)="removeItem(f)" ><ion-icon name="checkmark"></ion-icon></button>
  </ion-item>
</ion-list>

</ion-content>