






.container{
    display: flex!important;
    padding-right:0px !important;
    margin-right:0px !important;
}
  .container > .inside{
padding-right:0;
margin-right:0;
text-align: left !important;
align-items: center !important;
}
.centerit{
  display: flex;
  padding-right:0; 
  margin-right:0; 
  
  align-items: center !important;
}
.resize{
    display: block;
  max-height: 4em !important;
  max-width: 4em !important;
  height: auto !important;
  width: auto !important;
}
.item-inner {
   padding-right: 0px!important;
}
  