.grid-full ion-row {
  height: 100%;
  width:100%;
  padding: 0;
  margin:0;
  flex-wrap: wrap;
  
}

.grid-full ion-col {
  text-align: center;
  padding: 5px 5px 5px 5px;
  margin-top:0px;
  border: 20px;
}

.text-on-bottom > .button-inner {
  flex-direction: column;
}
.cell-1 {
 // background-color: #C5DCFC;
}
.cell-2 {
  //background-color: #262B69;
}
.cell-3 {
  //background-color: #A0C5FA;
}
.cell-4 {
  //background-color: #B3D0FC;
}
.cell-5 {
 // background-color: #73A7F9;
}
.cell-6 {
 // background-color: #8CB9FA;
}

.grid-full ion-row {
  height: 100%;
  width:100%;
  padding: 0;
  margin:0;
  flex-wrap: wrap;
  
}

.grid-full ion-col {
  text-align: center;
  padding: 5px 5px 5px 5px;
  margin-top:0px;
  border: 20px;
}

.text-on-bottom > .button-inner {
  flex-direction: column;
}
.cell-1 {
 // background-color: #C5DCFC;
}
.cell-2 {
  //background-color: #262B69;
}
.cell-3 {
  //background-color: #A0C5FA;
}
.cell-4 {
  //background-color: #B3D0FC;
}
.cell-5 {
 // background-color: #73A7F9;
}
.cell-6 {
 // background-color: #8CB9FA;
}

