

.fab[mini] {
    margin: 0px;
    width: 11px;
    height: 28px;
    line-height: 0px;
}
.name{
  
    top: 50%;
    left: 50%;
    
  margin:auto;
  padding-top:1em;
  padding-bottom:1em;
   text-align: center;
}
button[fab].fab-map {
  position: absolute;
 
  z-index: 100;
}
.action-sheet .button.cancel {
  color:#EE6C4D !important;
}
.imagi{   
   -webkit-filter: opacity(.2);
  filter: opacity(.2);


}
.imag{
  max-height: 120px !important;
  max-width: 100% !important;
  height: auto !important;
  width: auto !important;
  margin-left: auto;
  margin-right: auto;
  margin-top:auto !important;
  margin-bottom:auto !important;
  align-items:center !important;
  display:flex !important;
}
.noProducts{
 padding-top:50%;
 padding-left:25%;
padding-bottom:25%;
 padding-right:25%;
  font-size: 28px;
  text-align: center;

}

.colom{
  height:20%;
}
.container{
  display: flex!important;
  padding-right:0px !important;
  margin-right:0px !important;
}
.container > .inside{
padding-right:0;
margin-right:0;
text-align: left !important;
align-items: center !important;
}