<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons >
		<button color="navcolor" ion-button navPop icon-only>
			<ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
		</button>
	</ion-buttons>
    <ion-title >
  <p style="font-size:22px;">{{whichType}}</p></ion-title>
 
 
 <ion-buttons end>
        <button ion-button color = "navcolor" icon-only (click)="openPopover($event)">
  <ion-icon name="more"></ion-icon></button>
 </ion-buttons>
      

  </ion-navbar>

</ion-header>
<ion-content>
   <ion-row wrap>
  <ion-col width-33 *ngFor="let f of items1" (click)="show(f.$value)" >
  <img *ngIf="f"[src]="f">
  </ion-col>
</ion-row>

</ion-content>

